#mode-toggle {
    -fx-text-fill: #e4e4e4;
}

/* Style when switch is off */
#mode-toggle.off {
    -fx-background-color: #f4f4f5;
    -fx-text-fill: black;
}

/* Style when switch is on */
#mode-toggle.on {
    -fx-background-color: #1f2023; /* green */
    -fx-text-fill: white;
}